h1 {
    font-size: 96px;
    line-height: 35px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 32px;
}

h1, h2, h3{
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    text-transform: uppercase;
    font-weight: 700;
    color: #343a40;
}

.about-section {
    max-width: 1200px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.last_name {
    color: #9999ff;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'; 
}

body {
    color: #868e96;
    padding-left: 278px;
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    line-height: 1.5;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-0 {
    margin-bottom: 0;
}

.lead {
    font-size: 16px;
    font-weight: 400; 
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.padding-48 {
    padding: 48px;
}


